---
import { getCollection } from 'astro:content'
import FormattedDate from './FormattedDate.astro'
import TagLink from './TagLink.astro'
import { Image } from '@unpic/astro'

const posts = await getCollection('blog')
let numberOfPostsToDisplay = 3
let recentPosts = posts
  .slice(0, numberOfPostsToDisplay)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<div class="mt-16 flex flex-col gap-4 px-4 md:px-16">
  <h3 class="text-base font-medium">Recent Publications</h3>
  {
    recentPosts.map((post) => (
      <div class="flex justify-between gap-2 border-b pb-4">
        <div class="flex flex-col gap-4">
          <FormattedDate date={post.data.pubDate} />
          <a class="text-lg font-bold" href={`/blog/${post.slug}`}>
            {post.data.title}
          </a>
          <div class="flex gap-2">
            {post.data.tags?.map((i) => {
              return <TagLink tag={i} />
            })}
          </div>
        </div>
        <a href={`/blog/${post.slug}`}>
          {post.data.heroImage && (
            <Image
              src={post.data.heroImage}
              background="auto"
              alt={post.data.title}
              class="h-24 w-40 border border-gray-200 bg-contain"
            />
          )}
        </a>
      </div>
    ))
  }
  <a
    class="mx-auto mt-12 flex h-8 w-full max-w-xs items-center justify-center rounded-lg border border-gray-200 bg-gray-100 text-xs font-medium text-gray-700 transition-colors ease-in-out hover:border-gray-300 hover:bg-gray-200 hover:no-underline dark:border-neutral-600 dark:bg-neutral-700 dark:text-neutral-300 hover:dark:border-neutral-600 hover:dark:bg-neutral-700/50 hover:dark:text-neutral-100"
    href="/blog">View more</a
  >
</div>
