---
import BaseHead from '../components/site/BaseHead.astro'
import { SITE_DESCRIPTION } from '../consts'
import Header from '../components/site/Header.astro'
import Footer from '../components/site/Footer.astro'
import { Icon } from 'astro-iconify'
import { Image } from 'astro:assets'
import {
  siNuxtdotjs,
  siTypescript,
  siMongodb,
  siMongoose,
  siFirebase,
  siGit,
  siGithub,
  siThreedotjs,
  siP5dotjs,
  siReact,
  siJavascript,
  siMeta,
  siHuggingface,
  siPytorch,
  siStreamlit,
  siScikitlearn,
} from 'simple-icons'

console.log(siNuxtdotjs)

const projects = [
  {
    name: 'Recipe Generation using Llama2',
    description:
      'Integrated CNN and Meta Llama2 to generate recipes from ingredients.',
    technologies: [
      siMeta,
      siHuggingface,
      siPytorch,
      siStreamlit,
      siScikitlearn,
    ],
    img: 'https://ucarecdn.com/10718825-6dcc-47e3-9590-6e28ff12b2f9/llama2.jpg',
    publication: undefined,
    blogLink: '/blog/2-llama2-recipe-generation',
  },
  {
    name: 'Nrutyangan',
    description: 'Kathak Academy website with dynamic content management.',
    githubLink: 'https://github.com/skadewdl3/nrutyangan',
    link: 'https://nrutyangan.vercel.app',
    technologies: [
      siNuxtdotjs,
      siTypescript,
      siMongodb,
      siMongoose,
      siFirebase,
      siGit,
      siGithub,
    ],
    img: 'https://ucarecdn.com/9eb3325c-39ab-49b5-ad31-a59782e182b1/nrutyangan.png',
  },
  {
    name: 'AnimWeb',
    description: 'Web-based math animation tool for educators.',
    githubLink: 'https://github.com/skadewdl3/animweb',
    blogLink: '/blog/1-marching-squares',
    link: 'https://animweb.vercel.app',
    technologies: [siNuxtdotjs, siTypescript, siThreedotjs, siP5dotjs, siGit],
    img: 'https://ucarecdn.com/c5e92ada-13ad-461b-8a92-24364bc0636f/animweb.png',
  },
  {
    name: 'Mulyankan',
    description: 'COVID-era online exam grading app. 90% teacher satisfaction.',
    githubLink: 'https://github.com/skadewdl3/mulyankan-rewrite',
    link: 'https://mulyankan.vercel.app',
    technologies: [siReact, siJavascript, siFirebase],
    img: 'https://ucarecdn.com/ed80469d-f69a-46fa-9bb7-ecff4f62929c/mulyankan.png',
  },
]
---

<html lang="en">
  <head>
    <BaseHead
      title="Projects | Soham Karandikar"
      description={SITE_DESCRIPTION}
    />
  </head>
  <body
    class="mx-auto my-4 w-full max-w-screen-md transition-colors duration-300 dark:bg-neutral-800 dark:text-neutral-300"
  >
    <Header />
    <main
      class="mx-auto my-4 flex w-full max-w-screen-md flex-col justify-center gap-4"
    >
      <div
        class="grid place-items-center gap-4 md:grid-cols-2 md:place-items-start md:gap-8 xl:gap-12"
      >
        {
          projects.map(
            ({
              name,
              description,
              link,
              githubLink,
              blogLink,
              technologies,
              publication,
              img,
            }) => (
              <div class="project w-[90%] sm:w-3/5 md:w-full">
                <Image src={img} alt={name} inferSize />
                <p class="name text-lg font-semibold">{name}</p>
                <p class="description my-2">{description}</p>
                <ul class="flex items-center gap-x-4">
                  {technologies.map((icon) => (
                    <li>
                      <Icon
                        name={`simple-icons:${icon.slug}`}
                        color={`#${icon.hex}`}
                        class="h-5 w-5"
                        title={icon.title}
                      />
                    </li>
                  ))}
                </ul>
                <div class="my-2 flex items-center justify-end">
                  {link && (
                    <a href={link} class="ml-4" target="_blank">
                      Link
                    </a>
                  )}
                  {githubLink && (
                    <a href={githubLink} class="ml-4" target="_blank">
                      GitHub
                    </a>
                  )}
                  {blogLink && (
                    <a href={blogLink} class="ml-4" target="_blank">
                      Blog
                    </a>
                  )}
                  {publication && (
                    <a href={publication} class="ml-4" target="_blank">
                      Publication
                    </a>
                  )}
                </div>
              </div>
            )
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
