---
import { Icon } from 'astro-iconify'

import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'
import ThemeIcon from './ThemeIcon.astro'

let url = Astro.url.pathname

const links = [
  { name: 'Blog', url: '/blog', icon: 'pencil-1' },
  { name: 'Projects', url: '/projects', icon: 'code' },
  { name: 'Portfolio', url: '/', icon: 'crumpled-paper' },
]

const rightSideLinks = links.filter(({ url: temp }) => !url.startsWith(temp))

const active = links.find((x) => !rightSideLinks.includes(x)) as {
  name: string
  url: string
  icon: string
}
---

<header
  class="mb-10 w-full gap-5 px-4 py-4 pt-2 sm:px-6 md:pt-10 lg:mb-28 lg:flex xl:px-0"
>
  <Astronav>
    <div
      class="flex w-full items-end justify-between border-b pb-4 lg:border-none lg:pb-0"
    >
      <a
        class="header-title group flex items-center gap-2 text-xl font-semibold"
        href={active.url}
      >
        <Icon
          name={`radix-icons:${active.icon}`}
          `
          class="h-5 w-5 group-hover:rotate-[17deg]"
        />{active.name}
      </a>
      <div class="flex items-center justify-center gap-4 lg:hidden">
        <MenuIcon class="h-4 w-4 text-gray-800 dark:text-neutral-300" />
        <ThemeIcon class="w-10" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="mt-3 flex flex-col gap-3 border-b border-neutral-400 pb-4 lg:mt-0 lg:flex-row lg:gap-5 lg:border-b-0 lg:pb-0"
      >
        {
          rightSideLinks.map(({ name, url }) => (
            <li class="flex items-center">
              <a href={url}>{name}</a>
            </li>
          ))
        }

        <ThemeIcon class="hidden w-10 lg:flex" />
      </ul>
    </MenuItems>
  </Astronav>
</header>
